<section class="container">

  <div class="form-group col-12">
    <input class="form-control" placeholder="Nome do Prouto" #inputNome>
  </div>

  <div class="form-group col-12">
    <input class="form-control" placeholder="Valor do Produto" #inputValor>
  </div>

  <div class="form-group col-12">
    <input class="form-control" placeholder="Foto do Produto" #inputFoto>
  </div>

  <button class="btn btn-primary" (click)="inserir(inputNome, inputValor, inputFoto)">
    Inserir
  </button>

</section>

