//Cria como _ apenas para não referenciar
$theme-colors: (
  primary: #e78024,
  secondary: #96293e,
  success: #8dff29,
  info: #29ebff,
  warning: #ffea29,
  danger: #ff4229,
  light: #cafcf6,
  dark: #02423a
);

$link-color: #aecb00;


//Criação de variável
$cor-primaria: #3245de;
$cor-perigo: #d41123;
