:host{

}

div{
  background-color: aquamarine;
  height: 400px;
  width: 400px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

textarea{
  width: 50%;
  height: 50%;
  margin: 25% 0;
}


p{
  margin: 25% 0;
}
